/* !----STRUCTURE----*/

body {
	background-color: #edc2b1;
	margin: 0 auto;
	font-family: 'EB Garamond', serif;;
	font-size: 1rem;
	line-height: 1.3rem;
	
}

section {
	background-color: white;
	padding: 8%;
	margin: 7%;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
	border-radius: 3px;
}

#top {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
	-moz-column-fill: balance; /* Firefox */
    -webkit-column-fill: balance;
    column-fill: balance;
    font-size: 0.8rem;
    margin-bottom: 100px;
    
	
}

#two-column {
	column-count: 2;
	-moz-column-fill: balance; /* Firefox */
    column-fill: balance;
    column-gap: 30px;	
    margin-bottom: 50px;
    padding-bottom: 20px;
}


.column img {
	width: 100%;
}

.underline {
	border-bottom: lightgrey 1px solid;
	padding-bottom: 20px;
	margin-bottom: 50px;
}

.thin {
	padding: 0% 20% 20% 20%;
}
  
.col1-2 {
	float: left;
	width: 50%;
}

.col2-2 {
	float: left;
	width: 50%;
}

.shadow {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.imgspan {
	column-span: all;
}



/*!----TYPOGRAPHY----*/

h1 {
	font-family: 'EB Garamond', serif;
	font-size: 4rem;
	column-span: all;
	line-height: 2.2rem;
	text-transform: capitalize;
}

h2 {
	font-family: 'EB Garamond', serif;
	font-size: 5rem;
	column-span: all;
	line-height: 4.8rem;
	text-transform: capitalize;
	font-weight: normal;
	text-align: center;
	z-index: 3;
	margin-top: -150px;
	
}

h3 {
	
}

p {
	font-family: 'EB Garamond', serif;
	margin-top: 0px;
	text-align: left;
}

.quote {
	/* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
	font-size: 1.8rem;
	line-height: 3rem;
	font-weight: 300;
	font-style: italic;
	text-align: center;
	margin: 25px 0px 25px 0px;
	padding: 5%;
	border-radius: 3px;
	background: -moz-linear-gradient(140deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
	background: -webkit-linear-gradient(140deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
	background: linear-gradient(140deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

a:link{
	text-decoration: none;
	color: black;
	
}

a:hover {
	text-decoration: line-through;
	color: #edc2b1;
	
}

a:visited{
	text-decoration: line-through;
	color: black;
	
}

.bignumber {
	font-size: 15rem;
	text-align: center;
	margin-bottom: -150px;
	margin-top: 50px;
	color: rgba(238, 195, 178, 0.27);
	z-index: 2;
}

ul {
	list-style: none;
	padding: 0 0 0 10px;
	line-height: 1.8rem;
}

.blob {
	border-radius: 26% 74% 70% 30% / 30% 50% 50% 70% ;
	background: rgb(131,58,180);
background: -moz-linear-gradient(139deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
background: -webkit-linear-gradient(139deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
background: linear-gradient(139deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
	width: 150px;
	height: 150px;
	z-index: 1;
	margin: auto;
	margin-top: 100px;
}

.blob-2 {
	border-radius: 53% 47% 17% 83% / 43% 33% 67% 57%;
	height: 150px;
	width: 150px;
	background: rgb(34,193,195);
background: -moz-linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
background: -webkit-linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#fdbb2d",GradientType=1);
z-index: 1;

}
  	

/* !----backtotopbutton---- */

#myBtn {
  display: none;
  position: fixed;
  bottom: 1%;
  right: 1%;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.24);
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.65rem;
}

#myBtn:hover {
  background-color: #555;
}